*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

a {
    text-decoration: none;
}
.url {
    color: #3897f0;
    font-weight: bold;
}

.flex {
    display: flex;
}
.links{
    display: flex;
    font-size: 14px;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}


.login-bg{
    background: url(img/bg-13.png) no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-box{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 260px;
    padding: 50px;
    background: rgba(253, 253, 253, 0.7);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .50);
    font-size: 16px;
} 

.img-logo{
    block-size: 80px;
    margin-bottom: 25px;
}

.field{
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0 10px 0;
    border: solid 0.5px rgb(238, 238, 238);
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn{
    width: 100%;
    background: linear-gradient(to right, #24CCAA, #A2DB95);
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.all-pokemones {
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 10% 12%;
    align-items: center;
}

.show-pokemon {
    flex-flow: wrap row;
    width: 200px;
    padding: 20px;
    margin: 20px;    
}

figure{
    height: 7%;
    width: 8%;
    border-radius: 50%;
    background: linear-gradient(to right, #24CCAA, #A2DB95);
    filter: blur(25px);
    position: absolute;
    margin: 2%;
    z-index: -1;
}

/* Averiguar que es esto*/
.name-pokemon {
    justify-content: center;
    text-align: center;
}

nav ul li {
    list-style: none;
    padding: 7px;
}

/* Fitrado */

.search-with-icon{
    justify-content: center;
}

.search{
    width: 60vw;
    height: 40px;
    padding: 10px 10px 11px 30px;
    background: #F6F4F4;
    border: solid 0.5px rgb(230, 230, 230);
    border-radius: 15px;    
}

.filter-menu{
    width: auto;
    height: auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(190, 190, 190, 0.5);
}

.selectors{
    width: inherit;
    height: auto;
    padding: 10px;
    border: solid 0.5px rgb(238, 238, 238);
    border-radius: 15px;
}


/* Header */

.header-up{
    width: 100%;
    height: auto;
    padding: 8px;
    background: linear-gradient(to bottom, #24CCAA, #A2DB95);
    top: 0;
    overflow: auto;
    transition: all 0.5s ease;
}

.header-logo{
    block-size: 40px;
}

.header-nav{
    width: 100%;
    background: rgb(225, 255, 226);
}

.menu{
    flex-direction: row;
}

/* Menu desplegable */ 

.enabled-menu{
    display: block;
}

.disable-menu{
    display: none;
}

.filter-logo{
    width: 7vw; 
    height: 7vh;
}

.type-select{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
  
.button {
    width: 120px;
    height: 40px;
    margin: 2px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
/*background: linear-gradient(to right, #24CCAA, #A2DB95);*/

/* Iconos de los pokemones */ 
.grass{
    background: #24CCAA;
    background-image: url(img/type-pokemon/grass.svg);
    background-repeat: no-repeat;
}

.poison{
    background-image: url(img/type-pokemon/poison.svg);
    background-color: #91609d;
    background-repeat: no-repeat;
}

.fire{
    background-image: url(img/type-pokemon/fire.svg);
    background-color: #db9953;
    background-repeat: no-repeat;
}

.normal{
    background-image: url(img/type-pokemon/normal.svg);
    background-color: #9a9ea0;
    background-repeat: no-repeat;
}

.psychic{
    background-image: url(img/type-pokemon/psychic.svg);
    background-color: #d17e7f;
    background-repeat: no-repeat;
}

.dragon{
    background-image: url(img/type-pokemon/dragon.svg);
    background-color: #206bae;
    background-repeat: no-repeat;
}

.electric{
    background-image: url(img/type-pokemon/electric.svg);
    background-color: #636573;
    background-repeat: no-repeat;
}
.ice{
    background-image: url(img/type-pokemon/ice.svg);
    background-color: #96add6;
    background-repeat: no-repeat;
}

.rock{
    background-image: url(img/type-pokemon/rock.svg);
    background-color: #ce8153;
    background-repeat: no-repeat;
}

.bug{
    background-image: url(img/type-pokemon/bug.svg);
    background-color: #98b738;
    background-repeat: no-repeat;
}

.ground{
    background-image: url(img/type-pokemon/ground.svg);
    background-color: #A2DB95;
    background-repeat: no-repeat;
}

.water{
    background-image: url(img/type-pokemon/water.svg);
    background-color: #73b1ac;
    background-repeat: no-repeat;
}

.ghost{
    background-image: url(img/type-pokemon/ghost.svg);
    background-color: #5e67a6;
    background-repeat: no-repeat;
}

.flying{
    background-image: url(img/type-pokemon/flying.svg);
    background-color: #c9bc8b;
    background-repeat: no-repeat;
}

  /* Modal Inicio */ 

  /*background: linear-gradient(to right, #24CCAA, #A2DB95)  0.7;*/

.modal-mask {
    position: fixed;
    z-index: 1;
    overflow: auto;
    background: rgba(36, 204, 170, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  
.modal-box{
    margin: auto;
    width: 60vh;
    height: 80vh;
    background: #fff;
    border-radius: 40px;
}

.info-pokemon{
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat
  
  }

/* The Close Button Modal */
.close {
    color: #aaa;
    align-content: flex-end;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .front{
    z-index: 0;
    padding: 0 10%;
}

.front > p {
    margin: 0;
}