*{
    outline: none;
}
body, html{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

a {
    text-decoration: none;
}
.url {
    color: #3897f0;
    font-weight: bold;
}

.links{
    display: flex;
    font-size: 14px;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.login-bg{
    display: flex;
    background: url(img/bg-13.png) no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-box{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 260px;
    padding: 50px;
    background: rgba(253, 253, 253, 0.7);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .50);
    font-size: 16px;
} 

.img-logo{
    block-size: 80px;
    margin-bottom: 25px;
}

.field{
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0 10px 0;
    border: solid 0.5px rgb(238, 238, 238);
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn{
    width: 100%;
    background: linear-gradient(to right, #24CCAA, #A2DB95);
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.all-pokemones {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 10% 12%;
    align-items: center;
}

.show-pokemon {
    display: flex;
    flex-flow: wrap row;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;    
}

figure{
    height: 50px;
    width: 50px;
    border-radius: 80%;
    background: linear-gradient(to right, #24CCAA, #A2DB95);
    filter: blur(25px);
}

.poke-name{
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li{
    list-style: none;
    padding: 7px;
}

/* Fitrado */

.search-with-icon{
    display: flex;
    justify-content: center;
}

.search{
    width: 40vw;
    height: 40px;
    padding: 10px 10px 11px 30px;
    background: #F6F4F4;
    border: solid 0.5px rgb(230, 230, 230);
    border-radius: 15px;  
}

.filter-menu{
    height: auto;
    padding: 15px;
    background: #fff;
    opacity: 90%;
    box-shadow: 0 4px 30px rgba(190, 190, 190, 0.5);
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#main {
    transition: margin-left .5s;
  padding: 20px;
}
.selectors{
    width: 90%;
    height: 30%;
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
    color: gray;
}

/* Header */

.header-up{
    width: 100%;
    height: 10vh;
    padding: 8px;
    background: linear-gradient(to bottom, #24CCAA, #A2DB95);
    top: 0;
    overflow: auto;
    transition: all 0.5s ease;
}

.header-logo{
    block-size: 70px;
}

.header-nav{
    width: 100%;
    background: rgb(225, 255, 226);
    height: 7vh;
}

.menu{
    display: flex;
    flex-direction: row;
}

#contenedor{
    display: inline-flex;
    flex-wrap: wrap;
}
    .poke{
        width: 10%;
        position: relative;
        display: flex;
        display: block;
        margin-block-start: 2em;
        margin-block-end: 3em;
        margin-inline-start: 50px;
        margin-inline-end: 41px;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 15px;
        }

.modal {
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 

  }
  
  /* Modal Box */
  .modal-content {
    font-size: 25px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    background: #ffff;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    }

.imagenModal{ 
    width: 80%;
    height: 80%;
    }

/* The Close Button Modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
.close:hover .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Menu desplegable */ 

.enabled-menu{
    display: block;
  }
  
.disable-menu{
    display: none;
  }
  
.filter-logo{
    width: 5vw;
    height: 5vh;
  }
  
.type-select{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }

@media screen and (max-height: 450px) {
  .filter-panel {padding-top: 15px;}
  }
  
.button{
    width: 7vw;
    height: 5vh;
    padding: 0px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction:row;
  }
  
.icon{
    width: 2.5vw;

  }
.text-tipo{
    padding:8px;
    margin: 0;
  }

.hada{
    background: #d298be;
}

.dragon{
    background: #206bae;
}

.flying{
    background: #c9bc8b;
}

.normal{
    background: #9a9ea0;
}

.electric{
    background: #636573;
}

.rock{
    background: #ce8153;
}

.poison{
    background: #91609d;
}

.bug{
    background: #98b738;
}

.ghost{
    background: #5e67a6;
}

.water{
    background: #73b1ac;
}

.fire{
    background: #db9953;
}

.grass{
    background: #5ea35f;
}

.psychic{
    background: #d17e7f;
}

.ice{
    background: #96add6;
}